{% extends "layout.html" %}

{% block title %}Отправить показания{% endblock %}

{% block body %}
<div class="py-5 text-center">
    <h2 class="display-6">Помощник отправки показаний ИПУ</h2>
    <p class="lead">Отправить показания <strong>индивидуальных приборов учета (ИПУ)</strong>. Для каждой организации потребуется
        ввод <strong>лицевого счета (ЛС)</strong>, который вы найдете в квитанции. Ваши данные сохранятся только на вашем устройстве
         в браузере и будут использованы только для рассылки компаниям предоставляющим услуги. Начните работу с кнопки "Заполнить показания"</p>
</div>
{% endblock %}