<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>
  <title>{% block title %}{% endblock %}</title>
</head>

<body class="bg-light">
  <header>
    <div class="container">
      <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
          <li class="nav-item"><a href="/" class="nav-link {% if g.active_home %}active{% endif %}">Главная страница</a></li>
          <li class="nav-item"><a href="/send" class="nav-link {% if g.active_send %}active{% endif %}">Заполнить показания</a></li>
        </ul>
      </header>
    </div>
  </header>

  {% block body %}{% endblock %}

  <footer class="my-5 pt-5 fixed-bottom1 text-muted text-center text-small">
    <p class="mb-1">© Kashkin & Kot</p>
  </footer>

</body>

</html>